header{
    font-size: 40px;
    font-weight: bold;
}
body{
    margin: 0;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.buttons-div,header
{
    padding-left: 40px;
    padding-bottom: 18px;
}
a{
    display: inline-block;
    padding: 10px;
    color: rgba(112, 128, 144, 0.8);
    text-decoration: none;
    margin-right: 100px;
    border-radius: 10px;
    transition: opacity 0.3s,box-shadow 0.3s, color 0.3s, transform 0.3s;
}
a:hover{
    opacity: 1;
    box-shadow: 0 0 12px rgba(0, 0 , 0, 0.15);
    transform: scale(1.2); 
}
a:active{
    box-shadow: 0 0 15px rgba(0, 0 , 0, 0.3);
    color: black;
}

.img-div{
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;   
    align-items: center; 
}
.all-div{
    display: flex;
}
.main-div
{
    width: 600px;
    padding-left: 40px;
    flex-direction: column;
    flex: 2;
}
.img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center -250px;
}
.btn-para
{
    margin: 0;
    background-color: rgba(0, 0 , 0, 0.15);
    margin-top: 5px;
    padding: 12px;
    font-size: 18px;
}
.main1,.proj{
    padding-top: 10px;
    padding-bottom: 10px;
}
.h1{
    font-size: 40px;
    margin: 0;
    padding-left: 8px;
    border-left: 5px solid black;
}
.p1{
    letter-spacing: 1px;
}
li{
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}
